// THEME 1
$color-bg: #993AB3;
$color-alt: #20eac2;
$color-sub: #3BACFF;
$color-white: #fffaff;

// THEME 4
// $color-bg: #008BF8;
// $color-alt: #D2D5DD;
// $color-sub: #89FC00;
// $color-white: #FFFAFF;

// THEME 3
// $color-bg: #48A9A6;
// $color-alt: #065143;
// $color-sub: #F5F5F5;
// $color-white: #F5F5F5;

// THEME 2
// $color-bg: #087E8B;
// $color-alt: #CDE6F5;
// $color-sub: #CDE6F5;
// $color-white: #F5F5F5;
